<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="min-h-screen h-full w-full bg-green-100">
        <div class="w-full h-full text-4xl text-center font-semibold capitalize py-4">
            <p>Word hunt solver</p>
        </div>
        <div class="h-full w-full flex flex-col justify-around items-center py-20 space-y-4">
            <div class="flex flex-col items-center space-y-2 border-4 p-4 rounded-lg bg-green-800 border-green-600">
                <div class="space-x-2">
                    <input type="text" id="11" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="12" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="13" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="14" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                </div>

                <div class="space-x-2">
                    <input type="text" id="21" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="22" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="23" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="24" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                </div>

                <div class="space-x-2">
                    <input type="text" id="31" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="32" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="33" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="34" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                </div>

                <div class="space-x-2">
                    <input type="text" id="41" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="42" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="43" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                    <input type="text" id="44" maxlength="1" class="border rounded-lg p-2 w-16 h-16 bg-yellow-300 text-white text-center text-3xl font-bold uppercase drop-shadow-lg">
                </div>
            
            </div>
            
            <button id="find" class="p-2 bg-yellow-200 rounded-lg px-8 text-green-500 font-bold uppercase border-green-600 border-4" type="submit" name="submit_button" >Find</button>
            

            {% if words %}
            <div class="w-full h-full flex flex-row items-center justify-around p-8">
                <div class="w-auto h-auto border-black bg-white rounded-lg border-green-500 border-2">
                    <table class="">
                        <thead class="w-full bg-green-100 rounded-t-lg">
                            <th class="px-4">3 Lettered Words</th>
                        </thead>
                        <tbody>
                            {% for word in words %}
                            <tr>
                                <td> {{word}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

        </div>
    
    </div>
    
</body>

<script>
    document.getElementById("find").addEventListener("click", function () {
        var arrays = [];
        for (var i = 1; i <= 4; i++) {
            var array = [];
            for (var j = 1; j <= 4; j++) {
                var input = document.getElementById(i.toString() + j.toString());
                array.push(input.value);
            }
            arrays.push(array);
        }

        // Now 'arrays' contains the values in the format you want
        // Send the data to the server using an HTTP POST request
        fetch('/find', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(arrays),
        })
        .then(response => response.json())
        .then(data => {
            // Handle response data here
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

</html>


</html>